[Unit]
Description=nix-serve-ng binary cache

After=network.target

[Service]
Type=simple
WorkingDirectory=/home/alexa
IPAccounting=true

ProtectSystem=full

Restart=always
RestartSec=5
Environment="NIX_SECRET_KEY_FILE=./cache.sk"
ExecStart=/home/alexa/.nix-profile/bin/nix-serve --verbose
KillMode=process

[Install]
WantedBy=multi-user.target
